.secao__colaboradores--cartao {
    background: var(--fundo-vermelho);
    border-radius: 16px;
    width: 1216px;
    text-align: center;
    margin: 0 auto;
    padding: 4em 0;
}

.secao__colaboradores--sobtitulo {
    color: var(--vermelho);
    font-size: 14px;
    font-weight: 600;
}

.secao__colaboradores--titulo {
    color: var(--cinza-escuro);
    font-size: 36px;
    font-weight: 500;
    margin: 1em 0;
}

.secao__colaboradores--nome {
    color: var(--cinza-escuro);
    font-size: 16px;
    font-weight: 500;
    margin: 1em 0;
}

.secao__colaboradores--descricao {
    color: var(--cinza);
    font-size: 14px;
    font-weight: 400;
}
